$primary:teal;
$some-color:#ffff55;
$like:#fdfdfd;
$font-size-base:1.2rem;

$besh: #F5F5DC;

$theme-colors: (
  "besh":       #F5F5DC,
  "lily":   #F6FFF8
);
@import "~bootstrap/scss/bootstrap";  
@import "bootstrap/scss/functions";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/variables";